<div class="form-type-checkbox">
  <input class="form-checkbox" id="checkbox{{version}}" type="checkbox" value="checkbox--value{{version}}" {{state}}>
  <label class="option" for="checkbox{{version}}">checkbox version {{version}}</label>
</div>