<div class="form-type-radio">
  <input class="form-radio" id="radio{{version}}" name="radio" type="radio" value="radio-value{{version}}" {{state}}>
  <label class="option" for="radio{{version}}">radio label {{version}}</label>
</div>
